@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}







<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #fde910;
        }

</style>


<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-warning">Eğitim Ekleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        @using (Html.BeginForm("SkillAdd", "AdminSkill", FormMethod.Post))
                                        {
                                            @Html.Label("Yetkinlik Adı")
                                            @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.SkillName)
                                            <br />

                                            @Html.Label("Yetkinlik Yüzdesi")
                                            @Html.TextBoxFor(x => x.SkillScore, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.SkillScore)
                                            <br />
                                            <br />
                                            <button class="btn btn-info">Ekle</button>
                                            <a href="/Admin/AdminPortfolio/index/" class="btn btn-danger">İptal Et</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  



