@using EntityLayer.Concrete
@model List<Testimonial>

<style>
    .card-testimonial {
        border-top: 2px solid #FF9966;
        border-right: 2px solid #FF9933;
        border-bottom: 2px solid #FF9999;
        border-left: 2px solid #FF99CC;
    }


    .test-name {
        color: #FF9900;
    }

    .test-title {
        color: #808080;
    }

    .btn-success {
        margin-right: 10px;
    }

    .btn-primary {
        margin-right: 10px;
    }
</style>

<div class="tab-pane" id="testimonial">
    <div class="row">
        @if (Model != null)
        {


            @foreach (var item in Model)
            {
                <div class="col-sm-6">
                    <div class="card card-body card-testimonial">
                        <h4 class="card-title test-name">@item.TestimonialsName</h4>
                        <h5 class="card-title">@item.TestimonialsCompanyName</h5>
                        <h5 class="card-title test-title">@item.TestimonialsJobTitle</h5>


                        <p class="card-text">
                            @(item.TestimonialsDescription.Length > 150 ? item.TestimonialsDescription.Substring(0, 200).TrimEnd() + "..." : item.TestimonialsDescription)
                        </p>
                        <div class="d-flex">
                            <a href="/admin/admintestimonial/testimonialadd/" class="btn btn-success"><i class="fas fa-graduation-cap"></i> Referans Ekle</a>
                            <a href="/admin/admintestimonial/testimonialupdate/ @item.TestimonialId" class="btn btn-primary">Güncelle</a>
                            <a href="/admin/admintestimonial/testimonialdelete/@item.TestimonialId" class="btn btn-danger">Sil</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
