@model IEnumerable<EntityLayer.Concrete.Blog>

@*  2 tablo birbirine bağlıysa ve 2 tablodanda veri gelicekse
İlişkili tablolarda kullanılıyor *@

@{
    ViewData["Title"] = "BlogSingle";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div id="main" class="site-main">
    <div class="layout-medium">
        <div id="primary" class="content-area with-sidebar">
            <div id="content" class="site-content" role="main">
                <article class="hentry post">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <header class="entry-header">
                                <h1 class="entry-title">@item.BlogTitle</h1>
                                <div class="entry-meta">
                                    <span class="entry-date">
                                        <time class="entry-date">@(((DateTime)item.BlogCreateDate).ToString("MMMM yyyy"))</time>
                                    </span>
                                    <span class="cat-links">
                                        @if (item.Category != null)
                                        {
                                            <a href="#" rel="category tag">@item.Category.CategoryName</a>
                                        }
                                    </span>
                                </div>
                            </header>
                            <div class="featured-image">
                                <img src="@item.BlogImage">
                            </div>
                        }
                    }
                    <div class="entry-content">
                        <iframe src="https://player.vimeo.com/video/50315573?color=AB977A&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <p>@item.BlogContent</p>
                                <nav class="nav-single row">

                                    <div class="nav-previous col-sm-6">
                                        <h4>ÖNCEKİ POST</h4>
                                        <a href="/Blog/BlogSingle/@item.BlogID-1/" rel="prev"><span class="meta-nav">←</span> There's always light at the end of the tunnel</a>
                                    </div>

                                    <div class="nav-next col-sm-6">
                                        <h4>SONRAKİ POST</h4>
                                        <a href="/Blog/BlogSingle/@item.BlogID+1/" rel="next">Becoming A DragonFly <span class="meta-nav">→</span></a>
                                    </div>
                                </nav>
                            }
                        }



                    </div>
                </article>
                <div id="comments" class="comments-area">

                    <h3 class="section-title">YORUMLAR</h3>

                    <ol class="commentlist">
                        <li class="comment even thread-even depth-1">
                            <article class="comment">
                                <header class="comment-meta comment-author vcard">
                                    <img alt="" src="images/site/testo-01.jpg" class="avatar" height="75" width="75">
                                    <cite class="fn"><a href="#" rel="external nofollow" class="url">Phillip Austin</a></cite>
                                    <span class="comment-date">October 17, 2013 at 2:16 PM</span>
                                </header>
                                <section class="comment-content comment">
                                    <p>Hi, this is a very useful article. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </section>
                                <div class="reply">
                                    <a class="comment-reply-link" href="#">Reply <span>↓</span></a>
                                </div>

                            </article>
                            <ol class="children">
                                <li class="comment odd alt depth-2 bypostauthor">
                                    <article class="comment">

                                        <header class="comment-meta comment-author vcard">
                                            <img alt="" src="images/site/author-1.jpg" class="avatar photo" height="75" width="75">
                                            <cite class="fn"><a href="#" rel="external nofollow" class="url">Johnny Doe</a></cite>
                                            <span class="comment-date">October 17, 2013 at 2:16 PM</span>
                                        </header>
                                        <section class="comment-content comment">
                                            <p>Thanks Phillip, glad you liked it. Nice to see you around.</p>
                                        </section>
                                        <div class="reply">
                                            <a class="comment-reply-link" href="#">Reply <span>↓</span></a>
                                        </div>
                                    </article>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <div id="respond">

                        <h3 id="reply-title">YORUM YAP<small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>

                        <form action="#" method="post" id="commentform">

                            <p class="comment-form-comment">
                                <label for="comment">YORUM </label>
                                <textarea id="comment" name="comment" rows="8" aria-required="true"></textarea>
                            </p>

                            <p class="comment-form-author">
                                <label for="author">İSİM <span class="required">*</span></label>
                                <input id="author" name="author" type="text" size="30" aria-required="true">
                            </p>

                            <p class="comment-form-email">
                                <label for="email">E-MAİL <span class="required">*</span></label>
                                <input id="email" name="email" type="text" size="30" aria-required="true">
                            </p>

                            <p class="form-submit">
                                <input type="submit" name="submit" id="submit" class="button primary" value="YORUMU GÖNDER">
                                <input type="hidden" name="comment_post_ID" value="16" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="secondary" class="widget-area sidebar" role="complementary">

            @await Component.InvokeAsync("BlogLast5Post")

            <aside id="calendar-2" class="widget widget_calendar">
                <h3 class="widget-title">Takvim</h3>
                <div id="calendar_wrap">
                    <table id="wp-calendar">
                        <caption>
                            @(((DateTime.Now)).ToString("MMMM yyyy"))
                        </caption>

                        <tbody>

                            @{
                                DateTime now = DateTime.Now; //bugünün tarihi
                                int year = now.Year; // yılı
                                int month = now.Month; //ayı
                                int days = DateTime.DaysInMonth(year, month); //bulunduğumuz ayın kaç gün içerdiğini bulmak için DaysInMonth ifadesi yıl ve ayı ister
                            }

                            @for (int i = 1; days >= i; i++)
                            {
                                if (i == (DateTime.Now).Day)
                                {
                                <td style=" background-color: #f0f0f0; font-weight: bold;">@i</td>
                                }
                                else
                                {
                                <td>@i</td>
                                }

                                if (i % 7 == 0)
                                {
                                    // Alt satıra geç
                                <tr> </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </aside>

            <aside class="widget widget_rss">
                <h3 class="widget-title"><a class="rsswidget">Yazılımcılardan İlham Verici Sözler</a></h3>
                <ul>
                    <li>
                        <div class="rssSummary"></div>
                    </li>
                </ul>
            </aside>

        </div>
    </div>
</div>


<script>
    let dizi = [
        "Bilgisayar programlama, hayal gücünüzün sınırlarıyla sınırlıdır. - Edsger Dijkstra",
        "Bilgisayar programlama, dünyanın en güçlü araçlarından biridir.Onu iyilik için veya kötülük için kullanabilirsiniz. - Grace Hopper",
        "Bilgisayarların amacı insanları daha yaratıcı ve üretken kılmaktır. - Steve Jobs",
        "Teknoloji, insanlığın hayatını iyileştirmek için kullanılmalıdır. - Bill Gates",
        "Hayatınızı değiştirecek şey, sahip olduğunuz şeyler değil, sahip olduğunuz fikirlerdir. - Steve Jobs",
        "Bilgisayar, insan düşüncesinin bir uzantısıdır. - Douglas Hofstadter",
        "Matematik, evrende bulunan düzeni anlamanın bir yoludur. - Albert Einstein",
        "Hayattaki en önemli şey, tutkularınızı takip etmektir. - Steve Jobs",
        "Bilgisayar programlama, mantık ve yaratıcılığın bir karışımıdır. - Donald Knuth",
        "Bilgisayarların, insanların daha iyi kararlar vermelerine yardımcı olacak şekilde kullanılması gerekir. - Tim Berners - Lee",
        "Açık kaynak, işbirliğinin gücüdür. - Richard Stallman",
        "Bilgisayar yazılımı, herkesin erişebileceği ve kullanabileceği bir şey olmalıdır. - Richard Stallman",
        "Özgür yazılım, özgürlüktür. - Richard Stallman",
        "Bilgisayar yazılımı, herkesin sahip olması ve kontrol etmesi gereken bir şeydir. - Richard Stallman",
    ];

    function rastgeleElemanGetir() {
        return dizi[Math.floor(Math.random() * dizi.length)];
    }

    let rastgeleEleman = rastgeleElemanGetir();

    // Rastgele elemanı HTML'ye yansıt
    document.querySelector(".rssSummary").textContent = rastgeleEleman;
</script>






