@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<!-- primary -->
<div id="primary" class="content-area">

    <!-- site-content -->
    <div id="content" class="site-content" role="main">
        <!-- layout-fixed -->
        <div class="layout-fixed">
            <!-- .hentry -->
            <article class="hentry post">


                <!-- .entry-header -->
                <header class="entry-header">
                    @foreach (var item in Model)
                    {
                        <h1 class="entry-title">@item.Portfolio.NameTitle</h1>
                    }

                </header>
                <!-- .entry-header -->
                <!-- .entry-content -->
                <div class="entry-content">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <p class="drop-cap">@item.AboutDetails1</p>
                        }


                        <!-- blockquote -->
                        <blockquote>
                            Responsive web design offers us a way forward, finally allowing us to “design for the ebb and flow of things.”
                            <cite>Ethan Marcotte</cite>
                        </blockquote>
                        <!-- blockquote -->
                        foreach (var item in Model)
                        {

                            if (item.AboutDetails2 != null || item.AboutDetails3 != null || item.AboutDetails4 != null)
                            {
                                <blockquote class="alignleft">
                                    Stay hungry, stay foolish.
                                    <cite>Steve JOBS</cite>
                                </blockquote>
                                <p class="drop-cap">@item.AboutDetails2</p>
                                <p class="drop-cap">@item.AboutDetails3</p>
                                <p class="drop-cap">@item.AboutDetails4</p>
                            }
                            else
                            {

                            }
                        }
                    }


                    @*      <!-- image alignleft -->
                    <div class="wp-caption alignleft">
                    <a href="images/blog/05.jpg"><img src="images/blog/05.jpg" alt="Image"></a>
                    <p class="wp-caption-text">Never give up.</p>
                    </div>
                    <!-- image alignleft --> *@


                    @* <img src="images/blog/03.jpg" alt="Image" class="aligncenter"> *@

                </div>
                <!-- .entry-content -->

            </article>
            <!-- .hentry -->

        </div>
        <!-- layout-fixed -->

    </div>
    <!-- site-content -->

</div>

