@using EntityLayer.Concrete
@model List<Job>


<div class="tab-pane active" id="job">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h5 class="mt-0">Çalışma Geçmişi Tablosu</h5>
                <div class="table-responsive">
                    <table class="table table-centered mb-0" id="btn-editable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Firma Adı</th>
                                <th>Ünvan</th>
                                <th>Açıklama</th>
                                <th>Başlama Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Düzenle</th>
                                <th>Sil</th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.JobId</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.JobTitle</td>
                                    <td>@(item.Description.Length > 150 ? item.Description.Substring(0, 100).TrimEnd() + "..." : item.Description)</td>
                                    @* Açıklama 150 karakterden uzunsa, ilk 150 karakteri alır, boşlukları temizler ve üç nokta ekler.*@

                                    <td>@(((DateTime)item.StartDate).ToString("MMMM yyyy")) </td>
                                    <td>
                                        @if (item.EndDate.HasValue)
                                        {
                                            <text>@item.EndDate.Value.ToString("MMMM yyyy")</text>
                                        }
                                        else
                                        {
                                            <p class="text-success">Devam Ediyor</p>
                                        }
                                    </td>

                                    <td>
                                        <a href="/Admin/AdminJob/JobUpdate/@item.JobId" class="btn btn-info rounded-pill waves-effect waves-light">

                                            <i class="mdi mdi-pencil"></i>

                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Admin/AdminJob/JobDelete/@item.JobId" class="btn btn-danger rounded-pill waves-effect waves-light">

                                            <i class="mdi mdi-close-outline"></i>

                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }




                    </table>
                    <br />
                    <a href="/Admin/AdminJob/JobAdd" class="btn btn-success rounded-pill waves-effect waves-light">
                        <i class="mdi mdi-briefcase"></i> Yeni İş Ekle
                    </a>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</div>

