@model List<Comment>
<aside class="about-author">

    <h3 class="section-title">YORUMLAR</h3>
    @foreach (var item in Model)
    {
        if (item.BlogID == ViewBag.BlogID)
        {
            @if (Model.Count() == 0)
            {
                <p>Bu blogta henüz yorum yapılmadı, ilk yorumu siz yazın.</p>
            }
            else
            {
                <div class="commentlist">
                    <div class="comment even thread-even depth-1">
                        <article class="comment">
                            <header class="comment-meta comment-author vcard">
                                @if (item.Image != null)
                                {
                                    <img src="@item.Image" class="avatar" height="75" width="75">
                                }
                                <cite class="fn"><a href="#" rel="external nofollow" class="url" style="color:#baa27f;">@item.CommentUserName.ToUpper()</a></cite>
                                <span class="comment-date">@(((DateTime)item.CommentDate).ToString("dd/MM/yyyy"))</span>
                                <p>@item.CommentTitle</p>
                            </header>
                            <section class="comment-content comment">
                                <p>@item.CommentContent</p>
                            </section>
                            <div class="reply">

                                <a href="#" class="comment-reply-link">Yanıtla <span>↓</span></a>
                            </div>                      
                        </article>
                        <hr />
                        <br />
@* 
                        @if (item.ParentComments != null)
                        {
                            <div class="children">
                                <div class="comment odd alt depth-2 bypostauthor">
                                    <article class="comment">

                                        <header class="comment-meta comment-author vcard">
                                            <img alt="" src="images/site/author-1.jpg" class="avatar photo" height="75" width="75">
                                            <cite class="fn"><a href="#" rel="external nofollow" class="url">Johnny Doe</a></cite>
                                            <span class="comment-date">October 17, 2013 at 2:16 PM</span>
                                        </header>
                                        <section class="comment-content comment">
                                            <p>Thanks Phillip, glad you liked it. Nice to see you around.</p>
                                        </section>
                                        <div class="reply">
                                            <a class="comment-reply-link" href="/Blog/BlogSingle//">
                                                Yanıtla <span>↓</span>
                                            </a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <br />
                        } *@
                    </div>
                </div>
            }
        }

    }
    <div class="col-md-12" style="bottom:10px;">
        <button id="showFormButton" class="btn btn-info">Yorum Yap</button>
    </div>

    <form method="post" asp-controller="Comment" asp-action="AddComment" id="hiddenForm" class="hidden">
        <!-- form başlangıçta gizli olarak tanımlandı -->
        <input type="hidden" name="BlogID" value="@ViewBag.BlogID" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Ad Soyad</label>
                <input type="text" name="CommentUserName" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label>Başlık</label>
                <input type="text" name="CommentTitle" class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-12">
            <label>Açıklama</label>
            <textarea name="CommentContent" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group col-md-12">
            <label>Görsel</label>
            <input type="file" name="Image" class="form-control" />
        </div>
        <div class="modal-footer col-md-12" style="top:10px;">
            <button type="submit" class="btn btn-info">Gönder</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById("showFormButton").addEventListener("click", function () {
            var form = document.getElementById("hiddenForm");
            form.classList.toggle("hidden"); // formun hidden sınıfını ekleyip kaldırarak görünürlüğünü değiştirir
        });

    </script>
