@using EntityLayer.Concrete
@model List<Certificate>


<div class="tab-pane" id="certificate">
    <div class="col-12">
        <div class="card">
            <a href="/Admin/AdminCertificate/CertificateAdd" class="btn rounded-pill waves-effect waves-light" style="background-color:#FF6699; color:white;">
                <i class="mdi mdi-seal"></i> Yeni Sertifika Ekle
            </a>
            <div class="card-body">
                <h3 class="mt-0" style="color:#FF6699;">
                    Sertifika Tablosu
                    
                </h3>
              
                <div class="table-responsive">
                    <table class="table table-centered mb-0" id="btn-editable">
                        <thead>
                            <tr>
                                <th>Sertifika Adı</th>
                                <th>Alınan Kurum</th>
                                <th>Açıklama</th>
                                <th>Başlama Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Süresi</th>
                                <th>Düzenle</th>
                                <th>Sil</th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.CertificateName</td>
                                    <td style="color:#FF6699;">@item.CertificationInstitution</td>
                                    <td>@item.CertificateDescription
                                    <td>@(((DateTime)item.CertificateStartDate).ToString("MMMM yyyy")) </td>
                                    <td>
                                            @if (item.CertificateEndDate.HasValue)
                                            {
                                                <text>@item.CertificateEndDate.Value.ToString("MMMM yyyy")</text>
                                            }
                                            else
                                            {
                                            <i class="fas fa-calendar-times"></i>
                                            }
                                    </td>
                                    <td>
                                            @if (item.EducationDurationHours != null)
                                            {
                                                @item.EducationDurationHours
                                            }
                                            else
                                            {
                                            <p class="text-success">Süresiz</p>
                                            }
                                    </td>

                                    <td>
                                        <a href="/Admin/AdminCertificate/CertificateUpdate/@item.CertificateId" class="btn btn-info rounded-pill waves-effect waves-light">

                                            <i class="mdi mdi-pencil"></i>

                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Admin/AdminCertificate/CertificateDelete/@item.CertificateId" class="btn btn-danger rounded-pill waves-effect waves-light">

                                            <i class="mdi mdi-close-outline"></i>

                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        }



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

