@using EntityLayer.Concrete
@model List<Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .edit-icon {
        float: right;
        margin-left: 10px;
        padding-left: 5px;
        color: #91bbf3;
    }

        .edit-icon:hover {
            color: #76b7ff;
        }

    .close-icon {
        float: right;
        margin-left: 10px;
        color: #ec5353;
    }

        .close-icon:hover {
            color: #FF3333;
        }
</style>



<div id="wrapper">
    <div class="content-page">
        <div class="content">

            <div class="row">
                <div class="col-sm-4">
                    <a href="/Admin/AdminProject/ProjectAdd/" class="btn btn-purple rounded-pill w-md waves-effect waves-light mb-3"><i class="mdi mdi-plus"></i> Yeni Proje Ekle</a>
                </div>
            </div>
            <div class="row">

                @if (Model != null)
                {

                    foreach (var item in Model)
                    {

                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body project-box">

                                    
                                    <a href="/Admin/AdminProject/ProjectDelete/@item.ProjectId" class="close-icon"><i class=" fas fa-window-close"></i></a>
                                    <a href="/Admin/AdminProject/ProjectUpdate/@item.ProjectId" class="edit-icon"><i class="fas fa-pencil-alt"></i></a>
                                    
                                    <div class="form-check form-switch float-end">
                                        <input class="form-check-input" type="checkbox" role="switch" id="projectStatus_@item.ProjectId" onchange="toggleProjectStatus('@item.ProjectId')" @((item.ProjectStatus ? "checked" : ""))>
                                    </div>


                                    <h4 class="mt-0"><a href="" class="text-dark">@item.ProjectName.ToUpper()</a></h4>
                                 

                                    @if (item.ProjectStatus == true)
                                    {
                                        <div class="badge bg-success float-end">Yayında</div>
                                    }
                                    else
                                    {
                                        <div class="badge bg-danger float-end">Yayında Değil</div>
                                    }

                                    <p class="text-success text-uppercase font-13">Kategorisi</p>
                                    <p class="text-muted font-13">
                                        @item.ProjectSummary
                                    </p>

                                    <ul class="list-inline">
                                        <li class="list-inline-item me-4">
                                            <h4 class="mb-0">56</h4>
                                            <p class="text-muted">Görüntülenme sayısı</p>
                                        </li>
                                        <li class="list-inline-item">
                                            <h4 class="mb-0">452</h4>
                                            <p class="text-muted">Yorum sayısı</p>
                                        </li>
                                    </ul>

                                    <h5>Tamamlanma Yüzdesi <span class="text-success float-end"></span></h5>
                                    <div class="progress progress-bar-alt-success progress-sm">
                                        <div class="progress-bar bg-success progress-animated wow animated animated"
                                             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                             style="width: @item.ProjectCompletion%; visibility: visible; animation-name: animationProgress;">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                }
            </div>

        </div>
    </div>
</div>


<script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

<script>
    function toggleProjectStatus(projectId) {
        // Anahtarın (switchin) işaretli olup olmadığını kontrol eder
        var isChecked = $('#projectStatus_' + projectId).prop('checked');
        $.ajax({
            url: '/Admin/AdminProject/AdminProjectActive/' + projectId,
            //Controllera gider
            type: 'POST',
            data: { id: projectId, status: isChecked },
            // isChecked true ise, status true olur; eğer isChecked false ise, status false olur.
            // Sunucuya gönderilecek veri belirtilir (projenin ID'si ve durumu).
            success: function (response) {
                // AJAX isteği başarılı olduğunda
                if (isChecked) {
                    alert("Proje yayında"); // Anahtar (switch) işaretliyse
                } else {
                    alert("Proje yayında değil"); // Anahtar (switch) işaretli değilse
                }
                location.reload(); // Sayfayı yenile
            },
            error: function (xhr, status, error) {
                // AJAX isteği sırasında bir hata oluştuğunda
                alert("Hata oluştu: " + error); // Hata mesajını kullanıcıya göster
            }
        });
    }


</script>